<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <title>User HomePage</title>
</head>
<body>
    
<div class="container-fluid">
    <header class="jumbotron">
        <h1 class="header">Fitness Week</h1>
        <h2 class="header-description">"Take control of your week"</h2>
    </header>
    <div class="navigation">
        <nav class=".fixed-top">
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                    <a class="nav-link "href="/day" style="text-decoration: none;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workouts">Workouts</a>
                </li>
                <li>
                    <a class="nav-link" href="/day/new" style="text-decoration: none;">Create New Routine</a>
                </li>
            </ul> 
        </nav>
    </div>
     <div class="schedule" style="margin: 40px 0px 40px 0px;">
         <h2 class="text-center">
            Weekly Schedule
         </h2>
         <h6 class="text-center">
             View/Edit/Add Your workout week below
        </h6>
     </div>
    <div class="workweek-div">
        <ol type="1" class="list-inline">
            <% for(let i = 0; i < days.length; i++) { %>
                <li class="list-inline-item">
                    <a href="/day/<%= days[i].id%>" style="text-decoration: none; color: black;" class="btn btn-light btn-lg"><%= days[i].day %></a>
                </li>
            <% } %>
        </ol>
    </div>
    <div class="jumbotron">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center">About Us</h2>
            <p class="lead" id="about">
                What is FitWeek?! FitWeek is deigned to help you create, update, and maintain your weekly workout routine. With FitWeek, you are able to change how you workout! FitWeek give you the ability to keep track of what you want to work on each day as well as change the different exercises you want to perform. Take control of your workout week and use FitWeek!
            </p>
        </div>   
    </div>
</div>
</body>
</html>



