<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User HomePage</title>
</head>
<body>
    <nav>
        <button><a href="/day/new" style="text-decoration: none;">Create New Workout</a></button>
    </nav>
    <h1>Weekly Routine</h1>
    <ul>
        <% for(let i = 0; i < days.length; i++) { %>
            <li>
                <a href="/day/<%= days[i].id%>" style="text-decoration: none;"><%= days[i].day %></a>
            </li>
        <% } %>

    </ul>
    <h1>Weekly Routine</h1>
</body>
</html>