<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Workout</title>
</head>
<body>
    <h1>Create Workout</h1>
    <form action="/day/" method="POST">
    <label for="day">Day of The Week</label>
    <input type="text" name="day" id="day">
    <br>
    <label for="bodyPart">Body Part(s)</label>
    <input type="text" name="bodyPart" id="bodyPart">
    <br>
    <label for="exercise">Exercises</label>
    <input type="textarea" name="exercise" id="exercise">
    <br>
    <input type="submit" value="Submit">
    </form>
</body>
</html>