*{
    /* border: 1px solid gold; */
}


header{
    text-align: center;
}

body{
    /* background-color: #659DBD; */
}

nav{
    background-color: #333;
    overflow: hidden;
    width: 100%;
    padding: 5px 0px 5px 0px;
}

nav a{
    float: left;
    color: white;
    text-align: center;
    padding: 15px 15px;
    margin-right: 15px;
    font-size: 18px;
}

.fitweek{
    text-align: center;
    margin-bottom: 100px;
}

.workweek-div{
    display: block;
    width: 100%;
    margin-left: -140px;
    font-size: 50px;
}


.show{ 
    font-size: large;
}

input{
    width: 100%;
    padding: 10px;
    margin: 10px;
}

textarea{
    width: auto;
    padding: 10px;
    margin: 10px;
    resize: none;
}

input[type="submit"]{
    width: 100px;
    background-color:#333;
    color: white;
}



.index{
    margin: 10%;
    padding: 20px;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
}

.workweek-div{
    padding-top: 10px;
    padding-left: 20%;
    display: inline-table;
    text-align: center;
}

img{
    margin: 20px;
    margin-bottom: 40px;
    /* border-radius: 100%; */
}

.welcome-container{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 400px;
    margin-right: 400px
};

.jumbotron{
    background-color: black;
}
