body{
    background-color: white;
}

nav{
    background-color: #333;
    overflow: hidden;
}

nav a{
    float: left;
    color: white;
    text-align: center;
    padding: 15px 15px;
    font-size: 18px;
}

ul{
    list-style-type: none;
    font-size: large;
}