
.jumbotron .header{
    font-family: monospace;
    font-size: 60px;
    color: black;
    text-align: center;
}

.jumbotron .header-description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
};

.schedule{
    background-color: black;
    margin:auto;
}


ol{
    text-align: center;
}

.index{
    margin-bottom: 20px;
}

.header-day{
    display: inline;
    text-align: center;
    margin: 40px 0px 40px 0px;
}

.show{
    text-align: center;
}

.info{
    text-align: center;
}
.edit-form, .delete-form{
    display: inline-block;
    
}

.workweek-div{
    margin-top: 20px;
    margin-bottom: 40px;
    word-wrap: break-word;
}

.workout-header{
    margin-top: 40px;
    text-align: center;
}

#vea{
    margin: 0px 0px 40px 0px;
    text-align: center;
}

.vertical {
    transform: rotate(-45deg);
    margin-top: 53%;
    margin-left: 12%;
    margin-bottom: 30%;
}

.about{
    width: 50%;
    text-align: center;
    margin: auto;
}

#about{
    font-family: monospace;
}

#index-head{
    font-family: monospace;
}

.home{
    width: 100%;
    height: auto;
    margin:auto;
}

.list-inline{
    margin-bottom: 10%;
}

.calendar{
    width: 50%;
    height: auto;
    margin-left: 25%;
}

.create-form, .edit-forms{
    margin-left: 37.5%;
}

.create, .edit{
    text-align: center;
    margin-bottom: 5%;
}

.start{
    width: 60%;
    float: left;
    margin-right: 10px;
}
